.compass {
  border-radius: 50%;
  background-color: #c8603d;
  border: 2px solid #763c24;
  box-shadow: 0 0px 0px 8px #9b472b, 0 0px 0px 8px #743621,
    inset 0 0 10px 1px #9a8770;
  z-index: 2;
  color: #9a8770;
  font-weight: bold;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 3rem;
  text-shadow: 1px 1px 1px #000;
}

.r {
  background: #9a8770;
}

.panel {
  box-shadow: inset 0 0 16px 10px #250b03;
  background-color: #252b29;
}

.input {
  outline: none;
  text-shadow: 0px 0px 10px #000;
  text-shadow: white;
  display: flex;
  justify-content: center;
  justify-items: flex-end;
  padding: 20px;
  color: #d6cdc3;
  width: 100%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  font-size: 60px;
  font-size: 2rem;
  text-align: left;
  font-weight: bolder;
  background: transparent;
}
